a {
    &:hover {
        transition: 0 !important;
        color: inherit !important;
    }
}

.ant-statistic-content-value {
    font-size: 1.25rem;
}

a.navlink > * {
    color: #4b5669;
}

a.navlink.active > * {
    color: #0c1024;
}

.navbar-container {
    background-color: #fff;
}
