@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

.dark-btn {
  background-color: #0c1024 !important;
}
button {
  text-transform: capitalize !important;
}
.link {
  color: #0c1024;
  text-decoration: none;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
}